<div class="book-card">
  <div class="book-card__cover">
    <img *ngIf="story.cover" [src]="story.cover" [alt]="story.title">
    <div *ngIf="!story.cover" class="book-card__placeholder">Sin portada</div>
  </div>

  <div class="book-card__info">
    <h3 class="book-card__title">{{ story.title }}</h3>
    <p class="book-card__meta">{{ story.type | titlecase }} · {{ story.fandom }}</p>
    <p class="book-card__description">{{ story.description | truncate: 180 }}</p>

    <div class="book-card__tags">
      <span *ngFor="let tag of story.tags" class="book-card__tag">#{{ tag }}</span>
    </div>

    <a [href]="story.wattpadUrl" target="_blank" rel="noopener noreferrer" appExternalLink class="book-card__button">
      Leer en Wattpad
    </a>
  </div>
</div>
